@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet>
    @T["An unhandled error has occurred."]
    <a href="." class="reload">@T["Reload"]</a>
    <span class="dismiss">🗙</span>
</div>
