@inherits LayoutComponentBase
@layout DinoBlazorApp_v2.Components.Layout.MainLayout

<h1>@T["Manage your account"]</h1>

<div>
    <h2>@T["Change your account settings"]</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
