@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to our new app. We are redesign the web app.
<br />We will add more content here later.
<br />Stay tune on next Monday(2026/05/25).
