@page "/Account/AccessDenied"

<PageTitle>@T["Access denied"]</PageTitle>

<header>
    <h1 class="text-danger">@T["Access denied"]</h1>
    <p class="text-danger">@T["You do not have access to this resource."]</p>
</header>
