@page "/Account/ForgotPasswordConfirmation"

<PageTitle>@T["Forgot password confirmation"]</PageTitle>

<h1>@T["Forgot password confirmation"]</h1>
<p role="alert">
    @T["Please check your email to reset your password."]
</p>
