@page "/Account/ResetPasswordConfirmation"

<PageTitle>@T["Reset password confirmation"]</PageTitle>

<h1>@T["Reset password confirmation"]</h1>
<p role="alert">
    @T["Your password has been reset. Please click here to log in."] <a href="Account/Login">@T["click here to log in"]</a>.
</p>
